body{
    background-color: cadetblue;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
}

.btn{
    padding: 10px;
    border: none;
    color: white;
    background-color: blue;
    cursor: pointer;
    border-radius: 5px;
}
.form{
    width: 20%;
    height: 20%;
    border-radius: 5px;
}
