body{
    background-color: cadetblue;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
      max-width: 300px;
      margin: 50px auto;
      text-align: center;
    }
    ul {
      
      padding: 0;
      list-style: none;
    }
    li {
      
      padding: 5px 0;
      font-size: 16px;
    }