body{
    background-color: cadetblue;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.btn-group{
    display: flex;
    justify-content: center;
}
.btn{
    padding: 10px;
    border: none;
    color: white;
    background-color: blue;
    cursor: pointer;
    border-radius: 5px;
}